extends layout

block content
	.container
		.jumbotron.text-center
			h1
				.fa.fa-lock
				span Authentication
			
			p Login or Register with google
			
			a.btn.btn-danger(href='/auth/google')
				.fa.fa-google-plus Google
			