extends layout

block content
	.container
		.jumbotron.text-center
			h1
				.fa.fa-lock
				span Authentication
			
			p Login or Register with misfit
			
			a.btn.btn-success(href='/auth/misfit')
				img.misfit(src='https://assets.misfit.com/build.misfit.com/assets/favicon_da24ef7.png')
				span Misfit